/* Group 9 */

position: absolute;
width: 492px;
height: 767px;
left: 234px;
top: 146px;



/* Frame 1 */

position: absolute;
width: 492px;
height: 767px;
left: 234px;
top: 146px;



/* Rectangle 4163 */

box-sizing: border-box;

position: absolute;
width: 492px;
height: 767px;
left: 0px;
top: 0px;

background: #FFFFFF;
border: 3px solid #76D0CF;
border-radius: 10px;


/* Already have an account? Sign in */

position: absolute;
width: 232px;
height: 19px;
left: 127px;
top: 732px;

font-family: 'Lexend Deca';
font-style: normal;
font-weight: 200;
font-size: 15px;
line-height: 19px;
/* identical to box height */
display: flex;
align-items: center;
text-align: center;

color: #323131;



/* SignIn */

position: absolute;
width: 390px;
height: 55px;
left: 48px;
top: 666px;



/* Rectangle 1 */

position: absolute;
width: 390px;
height: 55px;
left: 48px;
top: 666px;

background: rgba(118, 208, 207, 0.8);
border-radius: 40px;


/* Agree & Join */

position: absolute;
width: 263.25px;
height: 17.71px;
left: 111px;
top: 685px;

font-family: 'Lexend Deca';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 25px;
display: flex;
align-items: center;
text-align: center;

color: #FFFFFF;



/* By clicking Continue, you agree to our Terms and acknowledge that you have read our Privacy Policy, which explains how to opt out of offers and promos. */

position: absolute;
width: 438px;
height: 69px;
left: 28px;
top: 575px;

font-family: 'Lexend Deca';
font-style: normal;
font-weight: 200;
font-size: 18px;
line-height: 22px;
display: flex;
align-items: center;
text-align: center;

color: #323131;



/* GG */

position: absolute;
width: 390px;
height: 55px;
left: 48px;
top: 501px;



/* Rectangle 1 */

box-sizing: border-box;

position: absolute;
width: 390px;
height: 55px;
left: 48px;
top: 501px;

background: #FFFFFF;
border: 1px solid #323131;
border-radius: 40px;


/* Continue with Google */

position: absolute;
width: 263.25px;
height: 17.71px;
left: 121px;
top: 520px;

font-family: 'Lexend Deca';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 25px;
display: flex;
align-items: center;

color: #323131;



/* GOOG-0ed88f7c 1 */

position: absolute;
width: 30px;
height: 30.6px;
left: 76px;
top: 514px;

background: url(GOOG-0ed88f7c);


/* FB */

position: absolute;
width: 390px;
height: 55px;
left: 48px;
top: 430px;



/* Rectangle 1 */

position: absolute;
width: 390px;
height: 55px;
left: 48px;
top: 430px;

background: #3C5A9A;
border-radius: 40px;


/* Continue with Facebook */

position: absolute;
width: 263.25px;
height: 17.71px;
left: 121px;
top: 449px;

font-family: 'Lexend Deca';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 25px;
display: flex;
align-items: center;

color: #FFFFFF;



/* facebook-emblem 1 */

position: absolute;
width: 40px;
height: 30px;
left: 71px;
top: 443px;

background: url(facebook-emblem);


/* OR */

position: absolute;
width: 390px;
height: 19px;
left: 51px;
top: 400px;



/* Line 2 */

position: absolute;
width: 184px;
height: 0px;
left: 257px;
top: 411px;

border: 0.5px solid #000000;


/* Line 1 */

position: absolute;
width: 174.25px;
height: 0.5px;
left: 51px;
top: 410.5px;

border: 0.5px solid #000000;
transform: rotate(-0.01deg);


/* or */

position: absolute;
width: 18.6px;
height: 19px;
left: 234px;
top: 400px;

font-family: 'Lexend Deca';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 19px;
/* identical to box height */
display: flex;
align-items: center;

color: #323131;



/* Password */

position: absolute;
width: 390px;
height: 78px;
left: 51px;
top: 310px;



/* Rectangle 4 */

box-sizing: border-box;

position: absolute;
width: 390px;
height: 52px;
left: 51px;
top: 336px;

background: #FFFFFF;
border: 1px solid #323131;
border-radius: 5px;


/* View_hide_light */

position: absolute;
width: 30px;
height: 30px;
left: 397px;
top: 347px;



/* Subtract_light */

position: absolute;
width: 10px;
height: 10px;
left: 10px;
top: 10px;

/* fill_icon */
background: #222222;


/* Ellipse 65 */

box-sizing: border-box;

position: absolute;
left: 33.33%;
right: 33.33%;
top: 33.33%;
bottom: 33.33%;

/* Line_icon */
border: 1px solid #33363F;


/* Vector 115 */

position: absolute;
left: 12.5%;
right: 12.5%;
top: 8.33%;
bottom: 16.67%;

border: 3px solid #000000;


/* Subtract_light */

position: absolute;
width: 23.05px;
height: 16px;
left: 3.48px;
top: 7px;

/* fill_icon */
background: #222222;


/* Ellipse 66 */

position: absolute;
left: 12.5%;
right: 12.5%;
top: 25%;
bottom: 25%;

/* Line_icon */
border: 1px solid #33363F;


/* Vector 116 */

position: absolute;
left: 12.5%;
right: 12.5%;
top: 8.33%;
bottom: 16.67%;

border: 3px solid #000000;


/* Vector 116_light */

position: absolute;
left: 20.83%;
right: 12.5%;
top: 8.33%;
bottom: 25%;

/* fill_icon */
border: 1px solid #222222;


/* Password (8+ characters) */

position: absolute;
width: 184px;
height: 19px;
left: 51px;
top: 310px;

font-family: 'Lexend Deca';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 19px;
/* identical to box height */
display: flex;
align-items: center;

color: #323131;



/* Email */

position: absolute;
width: 390px;
height: 78px;
left: 51px;
top: 221px;



/* Rectangle 4 */

box-sizing: border-box;

position: absolute;
width: 390px;
height: 52px;
left: 51px;
top: 247px;

background: #FFFFFF;
border: 1px solid #323131;
border-radius: 5px;


/* Email address */

position: absolute;
width: 103px;
height: 19px;
left: 51px;
top: 221px;

font-family: 'Lexend Deca';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 19px;
/* identical to box height */
display: flex;
align-items: center;

color: #323131;



/* Name */

position: absolute;
width: 390px;
height: 78px;
left: 51px;
top: 132px;



/* Rectangle 4 */

box-sizing: border-box;

position: absolute;
width: 390px;
height: 52px;
left: 51px;
top: 158px;

background: #FFFFFF;
border: 1px solid #323131;
border-radius: 5px;


/* Full name */

position: absolute;
width: 71px;
height: 19px;
left: 51px;
top: 132px;

font-family: 'Lexend Deca';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 19px;
/* identical to box height */
display: flex;
align-items: center;

color: #323131;



/* Create a free account to save your preferences */

position: absolute;
width: 472px;
height: 76px;
left: 10px;
top: 31px;

font-family: 'Lexend Deca';
font-style: normal;
font-weight: 400;
font-size: 30px;
line-height: 38px;
display: flex;
align-items: center;
text-align: center;

color: #323131;

